{
    "--enable_profiler": "true",
    "--profiler_output_dir": "./profiler_results",
    "--resume_from_checkpoint": "latest",
    "--data_backend_config": "config/multidatabackend.json",
    "--aspect_bucket_rounding": 2,
    "--seed": 42,
    "--minimum_image_size": 0,
    "--disable_benchmark": false,
    "--output_dir": "output/models/lora/64",
    "--lora_type": "standard",
    "--lora_rank": 64,
    "--max_train_steps": 140000,
    "--num_train_epochs": 0,
    "--checkpointing_steps": 500,
    "--checkpoints_total_limit": 5,
    "--hub_model_id": "simpletuner-lora-64",
    "--push_to_hub": "true",
    "--attention_mechanism": "diffusers",
    "--tracker_project_name": "lora-training",
    "--tracker_run_name": "simpletuner-lora-64-int8",
    "--report_to": "wandb",
    "--model_type": "lora",
    "--pretrained_model_name_or_path": "stabilityai/stable-diffusion-3-medium-diffusers",
    "--model_family": "sd3",
    "--train_batch_size": 1,
    "--gradient_checkpointing": "true",
    "--caption_dropout_probability": 0.05,
    "--resolution_type": "pixel",
    "--resolution": 1024,
    "--validation_seed": 42,
    "--validation_steps": 500,
    "--validation_resolution": "1024x1024",
    "--validation_guidance": "3.0",
    "--validation_guidance_rescale": "0.0",
    "--validation_num_inference_steps": "20",
    "--validation_prompt": "a three fourth perspective portrait view of a young woman with messy blonde hair and light purple eyes, looking at viewer with a closed mouth smile",
    "--mixed_precision": "bf16",
    "--optimizer": "adamw_bf16",
    "--learning_rate": "1e-5",
    "--lr_scheduler": "polynomial",
    "--lr_warmup_steps": 100,
    "--base_model_precision": "int8-quanto",
    "--validation_torch_compile": "false"
}